-# frozen_string_literal: true
= simple_form_for(@transferencia) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :valor
    = f.association :conta_origem
    = f.association :conta_destino
    = f.input :taxa

  .form-actions
    = f.button :submit
