%h1 Listing contas

%table
  %thead
    %tr
      %th Cliente
      %th Saldo
      %th Agencia
      %th Numero
      %th Status
      %th
      %th
      %th

  %tbody
    - @contas.each do |conta|
      %tr
        %td= conta.cliente
        %td= conta.saldo
        %td= conta.agencia
        %td= conta.numero
        %td= conta.status
        %td= link_to 'Show', conta
        %td= link_to 'Edit', edit_conta_path(conta)
        %td= link_to 'Destroy', conta, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Conta', new_conta_path
