.row
  .col.s12
    %h4="Conta Corrente - #{@conta.numero}"
.row
  .col.s12.m12.l4
    %ul.collapsible
      %li
        .collapsible-header
          %i.material-icons attach_money
          Mostrar Saldo
        .collapsible-body
          .row
            .col.s12
              %h5= number_to_currency(@conta.saldo)

  .col.s12.m12.l8
    %ul.collapsible
      %li
        .collapsible-header
          %i.material-icons account_balance
          Extrato
        .collapsible-body
          .row
            = simple_form_for :search, url: conta_path(@conta), method: :get, html: {class: 'col s12'} do |f|
              .row
                -# .input-field.col.s1
                .input-field.col.s4
                  -# %i.material-icons.prefix date_range
                  = f.input :dt_inicial, label: false, input_html: { placeholder: 'Data Inicial', class: 'datepicker' }
                .input-field.col.s4
                  -# %i.material-icons.prefix date_range
                  = f.input :dt_final, label: false, input_html: { placeholder: 'Data Final', class: 'datepicker' }
                .col.s3.valign-wrapper
                  %button.btn.btn-large.waves-effect.waves-light{:name => "action", :type => "submit"} Extrato

          .row
            = render 'contas/extrato'
