%p#notice= notice

%p
  %b Valor:
  = @deposito.valor
%p
  %b Nome:
  = @deposito.nome
%p
  %b Sobrenome:
  = @deposito.sobrenome
%p
  %b Cpf:
  = @deposito.cpf
%p
  %b Ddd:
  = @deposito.ddd
%p
  %b Telefone:
  = @deposito.telefone
%p
  %b Numero conta:
  = @deposito.numero_conta
